<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>321628838943-tm05fm2kgppcmahdd796tj68s9q643ga.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.321628838943-tm05fm2kgppcmahdd796tj68s9q643ga</string>
	<key>API_KEY</key>
	<string>AIzaSyATj5GLMYDA4JZTjJi0kVOHpkqdxEAMkt0</string>
	<key>GCM_SENDER_ID</key>
	<string>321628838943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.opentek.ventureswipe-features</string>
	<key>PROJECT_ID</key>
	<string>ventureswipe-project</string>
	<key>STORAGE_BUCKET</key>
	<string>ventureswipe-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321628838943:ios:31193b6e2c4bb37296092a</string>
	<key>DATABASE_URL</key>
	<string>https://ventureswipe-project.firebaseio.com</string>
</dict>
</plist>